<header>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">MarList</div>

    <ul class="navbar-nav">
      <li>
        <a routerLink="/welcome/Marczu" class="nav-link">Start</a>
      </li>
      <li>
        <a routerLink="/todos" class="nav-link">Lista Zadań</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li>
        <a routerLink="/login" class="nav-link">Zaloguj się</a>
      </li>
      <li>
        <a routerLink="/logout" class="nav-link">Wyloguj się</a>
      </li>
    </ul>

  </nav>

  <br>
  <br>
</header>
